footer {
    display:flex; 
    flex-direction: column;
    align-items: center;
   div:first-child {
        h1 { 
            border-bottom: 2px solid $BASE-COLOR;
            display: inline-block;
            font-size: $SM-TITLE;
            text-align: center;
        } 
    }
    .contact {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &__hours {
            margin-bottom:3em !important;

           span { 
                font-weight: bold;
                text-decoration: underline;
            }
            p { padding: .6em 0; }
        }

        &__address { 
            margin-bottom:3em !important;
            th.tab-title {text-align: center !important; padding-right: 0 !important;}
            th {
                text-align: initial; 
                vertical-align: top; 
                padding-right : 1.5em;
            }
            td {text-align: start;}

        }
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap !important;

        h2 { font-size: $XL-FONT; margin: 0 1em; }

        &__items {
            display: flex;
            justify-content: space-between;
            width: 200px;
            margin: 1em 1em; 

            a {
                width: 50px;
                height: 50px;
                border:2px solid $BASE-COLOR; 
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items:center;
                text-decoration: none;
                transition: all .2s;
                i { 
                    color: $BASE-COLOR;; 
                    font-size: $LG-FONT;
                    
                }
            } 
            a:hover {
                border:2px solid $BTN-HOVER-COLOR;
                i{ color: $BTN-HOVER-COLOR; }
            }
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &__items {
            padding:0.2em;
            text-decoration: none;
            margin: 0 1em;
        }
        
        a { color: $BASE-COLOR; }
        a:hover { text-decoration: underline; }
    }
}

@media screen and (min-width: $BREAKPOINT-MOBILE-LAND) {
    .contact {
        justify-content: space-around !important;
        &__address, &__hours {margin: 1em 4em;}
    }
}

