.Card-dinapoli {
    display: flex;
    justify-content: center;
    .card {
        align-items: center !important;
        justify-content: center !important;
        background: none;
        border: none;
    }
    .card-img, .card-img-top {
        border-radius: 10px !important; 
        width: $SM-WIDTH;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .card-body {
        padding: 0;
        h2 { 
            font-size: $SM-TITLE;
            margin: .5em 0;
            text-align: center;
        }
        p{
            font-family: $TEXT;
            font-size: $SM-FONT;
        }
    }
    // OPTIONS 
    .reverse {flex-direction: column-reverse;}

    .btn-section { 
        display: flex; 
        justify-content: center; 
    }
    .btn { 
        background-color: $BTN-COLOR; 
        border: $BTN-COLOR 1px solid; 
        transition: all .5s;

    }
    .btn:hover { background-color: $BTN-HOVER-COLOR; border: $BTN-HOVER-COLOR 1px solid; }
}


// $BREAKPOINT-TABLET: 700px;
@media only screen and (min-width: $BREAKPOINT-TABLET) {
    .card {
        flex-direction: row !important;
        align-items: center;
        width: 200rem !important;
        .card-img, .card-img-top {width: $MD-WIDTH;}

        .card-body {
            padding: 0 3em !important;
            h2 {
                text-align: start;
                font-size: $MD-TITLE;
            }
        }
        .btn-section { 
            display: flex; 
            justify-content: start; 
        }
    }

    .reverse {flex-direction: row-reverse !important;}
    
}


// $BREAKPOINT-DESK: 1280px;
@media only screen and (min-width: $BREAKPOINT-DESK) {
        
    div .card {width: 1100px !important;}
    .card-img, .card-img-top {width: $LG-WIDTH !important;}
    .card-body {
        padding-right: 10em !important;

        h2 {
            text-align: start;
            font-size: $LG-TITLE !important;
        }
        p { font-size: $MD-FONT !important; }
    }
    
}

