section {
    display: flex;
    justify-content: center;
    .card {
        align-items: center !important;
        width: 55rem!important;
        background: none;
        border: none;
    }
    .card-img, .card-img-top {
        border-radius: 10px !important; 
        width: $SM-WIDTH}
    .card-body {
        padding: 0;
        h2 { 
            font-size: $SM-TITLE;
            margin: .5em 0;
            text-align: center;
        }
        p{
            font-family: $TEXT;
            font-size: $SM-FONT;
        }
    }
    .reverse {flex-direction: column-reverse;}
}


// $BREAKPOINT-TABLET: 700px;
@media only screen and (min-width: $BREAKPOINT-TABLET) {
    .card {
        flex-direction: row !important;
        align-items: center;
        width: 200rem !important;
        .card-img, .card-img-top {width: $MD-WIDTH;}

        .card-body {
            padding-left: 2em;
            h2 {
                text-align: start;
                font-size: $MD-TITLE;
            }
        }
    }

    .reverse {flex-direction: row-reverse !important;}
    
}

// $BREAKPOINT-TABLET-LAND: 975px;
@media only screen and (min-width: $BREAKPOINT-TABLET-LAND) {
    
}

// $BREAKPOINT-DESK: 1280px;
@media only screen and (min-width: $BREAKPOINT-DESK) {

    .card-img, .card-img-top {width: $LG-WIDTH !important;}
    .card-body {
        padding-left: 4em !important;
        h2 {
            text-align: start;
            font-size: $LG-TITLE !important;
        }
        p { font-size: $MD-FONT !important; }
    }
    
}

