.navbar-menu { 
    ul {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0;

        li {
            list-style: none;
            padding: .3em 1em;
            font-weight: bold;

            button {
                font-size: $MD-FONT; 
                color: $WHITE;
                padding: 0 0 .5em 0;
                text-decoration: none;
                background: linear-gradient(to top, $WHITE 0%, $WHITE 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                transition: background-size .5s;
                border: none
              }
              
              button:hover {
                background-size: 100% 100%;
              }

            button.active { background-size: 100% 100%; }
        }
    }
}


// $BREAKPOINT-TABLET: 480px;
@media only screen and (min-width: $BREAKPOINT-MOBILE-LAND) {
    .navbar-menu {
        ul {
            flex-direction: row;

            li button {font-size: $MD-FONT !important;}
        }
    }
}

// $BREAKPOINT-TABLET: 700px;
@media only screen and (min-width: $BREAKPOINT-TABLET) {
    .navbar-menu {
        
        ul {
            flex-direction: row;

            li { 
                font-size: $LG-FONT; 
                padding: .3em 2em;
            }
        }
    }
}