.menu {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    position: sticky;
    z-index: 1;
    .row {
        padding: 0 1em;
        width: 100%;

        .foodline { margin-bottom: 1.5em; }

        .foodline > div  {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            margin-bottom: 10px;
            justify-content: space-between;

            h3 { 
                padding: 5px 10px 3px 10px;
                text-align: center;
                margin: 0 !important;
                width: auto; 
                border: 2px solid $BASE-COLOR;
                background-color: $BG-BROWN;
                line-height: 1em;
            }
            div {
                border-bottom-color: #FFFFFF;
                margin-left: 10px;
                margin-right: 10px;
                flex-grow: 1;
                border-bottom-style: dotted;
                border-bottom-width: 2px;
                height: 0;
            }
            strong { 
                padding: 5px 10px 6px 10px;
                text-align: center;
                border-width: 1px;
                border: 2px solid $BASE-COLOR;
                width: 80px;
                background-color: $BG-BROWN;

            }
        }
    }
}

@media screen and (min-width: $BREAKPOINT-MOBILE-LAND) {
    .parallax-menu {
        background-attachment: fixed; 
        background-size: 80%; 
        background-position-y: 3em; 
        background-position-x: center; 
        background-repeat: no-repeat; 
        background-image: url("../../assets/images/pizza-paralax.png");
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0em;
        z-index: -1;

    }
}

@media screen and (min-width: $BREAKPOINT-DESK) {
    .row { min-width: 1280px}
    .foodline { 
        padding-right: 5em !important;
        padding-left: 3em !important;
    }
    .parallax-menu {
        background-size: 80%;
    }

}