
/*|---------------| App Color Schema|---------------*/
$WHITE: #ffffff;
$BASE-COLOR: #E6CCB2;
$BG-BROWN: #582F0E;
$BG-BDARK: #391E08;
$BG-LIGHT: #9C6644;
$BG-LINEAR: linear-gradient(180deg, #9C6644 0%, #391E08 65.1%);
$BTN-COLOR: #365A22;
$BTN-HOVER-COLOR: #518634;

/*|---------------| IMAGES |---------------*/
// $SM-IMG: 200px;
// $MD-IMG: 400px;
// $LG-IMG: 600px;
// $XL-IMG: 800px;

$SM-WIDTH: 200px;
$MD-WIDTH: 300px;
$LG-WIDTH: 400px;
$XL-WIDTH: 500px;

$SM-HEIGHT: 300px;
$MD-HEIGHT: 500px;
$LG-HEIGHT: 600px;

/*|---------------| FONTS |---------------*/
$TITLE: 'daughter-of-fortune', Arial, sans-serif;
$TEXT: 'Roboto', Arial, sans-serif;

$SM-FONT: 16px;
$MD-FONT: 20px;
$LG-FONT: 24px;
$XL-FONT: 30px;

$SM-TITLE: 40px;
$MD-TITLE: 50px; 
$LG-TITLE: 60px;
$XL-TITLE: 70px;

/*|---------------| BREAKPOINTS|---------------*/

// Usage example:  @media #{$BREAKPOINT-DESK}

$BREAKPOINT-DESK: 1280px;
$BREAKPOINT-TABLET-LAND: 975px;
$BREAKPOINT-TABLET: 700px;
$BREAKPOINT-MOBILE-LAND: 375px;