header {
    height:100vh;
    width: 100vw;
    .header {
        &__bg {
            width: 100%;
            height: 100%;
            position: relative;
        }

        &__container {
            position: absolute;
            top: 100px;
            width: 100%;
            height: 60%;
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            img {
                width: $SM-IMG;
                margin: 1em 0;
            }
            div {
                color: $BASE-COLOR !important;
                text-align: center;
                h1 {
                    font-family: $TITLE;
                    font-size: $SM-TITLE;
                }
                p { 
                    font-family: $TEXT; 
                    margin: .3em; 
                    font-size: $SM-FONT;
                }
            }

        }
    }
}

// BREAKPOINTS

