.info { 
    width: 100%;
    text-align: center;
    position: sticky;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color:$BG-BDARK;
    

    .parallax-info {
        background: url("../../assets/images/bakery-dough.jpg");
        opacity: 0.25;
        background-attachment: fixed; 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        top: 0;
        width: 100vw;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .Card-dinapoli  {
        position: sticky;
        // top: 0;
        z-index: 2;
        max-width: 800px !important;
        h2 { font-size: $SM-TITLE; }
        span { font-size: $MD-TITLE; }
    }

}


@media screen and (min-width: $BREAKPOINT-TABLET) {
    .info {
        text-align: start;
        justify-content: flex-end;
        padding: 0 5em;

        .Card-dinapoli {
            h2 { font-size: $MD-TITLE; }
            span { font-size: $LG-TITLE; }
        }
    }
}

@media screen and (min-width: $BREAKPOINT-DESK) {
    .info {
        text-align: start;
        display: flex;
        justify-content: flex-end;

        .Card-dinapoli {
            padding-right: 10em;
            span { font-size: $XL-TITLE; }
            h2 { font-size: $LG-TITLE; }
            p { font-size: $MD-FONT; }
        }
    }
}